/* Reset básico para remover margens e preenchimentos padrão */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para a barra de navegação */
  header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #ffd700; /* Altera a cor ao passar o mouse */
  }
  